.branding-block {
  transform: rotate(-0.5deg);
  text-align: center;
}

.branding__logo {
  max-width: 415px;
}
.branding__name {
  width: 250px;
  margin-bottom: 0;
  line-height: 1;
  a {
    position: relative;
    bottom: -2px;
    display: block;
    padding: 1rem;
    transition: 0.3s;
    transition: $trans;
    transition: $trans;
    transform: rotate(-3deg);
    text-decoration: none;
    text-transform: uppercase;
    color: $c-white;
    border: 2px solid $c-secondary;
    border-bottom: 0;
    background-color: $c-secondary;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    &:focus,
    &:hover {
      transform: rotate(0);
      text-decoration: underline;
    }
  }
}
.branding__slogan {
  width: 250px;
  margin-bottom: 0;
  padding: 1rem;
  border: 2px solid $c-secondary;
}
