
.branding__logo {
  max-width: 415px;
}
.branding__name {
  margin-bottom: 0;
  line-height: 1;
  a {
    display: inline-block;
    padding: 1rem 1rem 0.5rem;
    transition: 0.3s;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid $c-secondary;
    border-bottom: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

    &:focus,
    &:hover {
      text-decoration: underline;
      color: $c-white;
      background-color: $c-secondary;
    }
  }
}
.branding__slogan {
  margin-bottom: 0;
  padding: 1rem;
  border: 2px solid $c-secondary;
}
