.node--view-mode-teaser {
  margin-bottom: 1rem
}

.node--view-mode-teaser .node__meta {
  display: flex;
  font-size: $fs--14px;
  margin-top: $base-line-height;
  @include breakpoint($bp--large) {
    margin-top: $base-line-height * 2;
  }
}

.node--view-mode-teaser > .node__title {
  margin-top: $base-line-height;
}

.node--view-mode-teaser > .node__title a {
  text-decoration: none;
  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

 .field--name-field-listing-snippet p:last-of-type {
  margin-bottom: 0;
}

.node--view-mode-teaser .field--name-field-listing-snippet {
  margin-bottom: $base-line-height;
  @include breakpoint($bp--medium) {
    margin-bottom: $base-line-height * 2;
  }
}
