.teaser__meta {
  display: flex;
  font-weight: bold;
}

.teaser__title {
  margin-top: $base-line-height;
}

.teaser__title a {
  text-decoration: none;
  color: $c-primary;
  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

.teaser .field--name-field-listing-snippet p:last-of-type {
  margin-bottom: 0;
}
