.list--teasers .views-row {
  margin-bottom: $base-line-height * 2;
}

.list--teasers .views-row + .views-row {
  padding-top: $base-line-height * 2;
  border-top: 1px solid var(--color-grey--light);
}

#block-weatherlab-views-block-related-articles-block-1 .block__title {
  @extend .layout-contained;
  @extend .layout-contained--medium;
  @extend .padding-horizontal;

  margin-bottom: $base-line-height * 2;
  color: var(--color-secondary);
}
