{%
set classes = [
  "below-header"
]
%}

<div{{ attributes.addClass(classes) }}>
  <div class="layout-contained padding">

    <div class="below-header__inner">
      {% block content %}
      {% for content in contents %}
          {{ content }}
      {% endfor %}
      {% endblock %}
    </div>

  </div>
</div>
