<div class="layout-contained layout-contained--medium padding-horizontal margin-top">

  <div>
    <p>
      <a href="#" class="button">Default Button</a>
    </p>
  </div>

  <div>
    <p>
      <a href="#" class="button button--primary">Primary Button</a>
    </p>
  </div>

  <div>
    <p>
      <a href="#" class="button button--secondary">Secondary Button</a>
    </p>
  </div>

  <div>
    <p>
      <a href="#" class="button button--tertiary">Tertiary Button</a>
    </p>
  </div>

</div>
