.header {
  padding-top: $base-line-height;
  padding-bottom: $base-line-height;
  border-bottom: 1px solid $c-grey--light;
  background: $c-white;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  @include breakpoint($bp--xlarge) {
    align-items: center;
  }
}

.header .branding {
  flex: 0 0 50%;
}

.header .main-navigation {
  flex: 0 0 50%;
}
