{#
  Note: There is a lot of logic for how this works in the Drupal theme.
  This is because editors can choose what image style they want to use.
#}

{%
set classes = [
  "single-image"
]
%}

<div{{ attributes.addClass(classes) }}>
  {{ single_image }}
</div>

{% block content_variable %}
  {#
    This allows the cache_context to bubble up for us, without having to
    individually list every field in
    {{ content|without('field_name', 'field_other_field', 'field_etc') }}
  #}
  {% set catch_cache = content|render %}
{% endblock %}
