.iwt__inner {
  @include flex-default;

  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;

  @include breakpoint($bp--medium) {
    flex-wrap: nowrap;

    > * {
      width: 50%;
    }
  }
}

.left > .iwt__inner {
  @include breakpoint($bp--medium) {
    flex-direction: row;
  }

  @include breakpoint($bp--xlarge) {
    .iwt__content {
      padding-left: $base-line-height * 2;
    }
  }
}

.right > .iwt__inner {
  @include breakpoint($bp--medium) {
    flex-direction: row-reverse;
  }

  @include breakpoint($bp--xlarge) {
    .iwt__content {
      padding-right: $base-line-height * 2;
    }
  }
}

.iwt__content > * {
  margin-bottom: $base-line-height;
}

.iwt__image img {
  width: 100%;
  box-shadow: 4px 4px 16px 0 rgba(var(--color-black), 0.3);

  @include breakpoint($bp--medium) {
    height: auto;
  }
}

.iwt__title {
  color: var(--color-secondary);
}

.iwt__cta a {
  @include button(var(--color-secondary));
}
