<div class="layout-contained layout-contained--medium padding-horizontal margin-top">

{%
set classes = [
  "form-textarea"
]
%}

<textarea{{attributes.addClass(classes)}}
  contenteditable
  placeholder="You can edit this"></textarea>

</div>