.maintenance-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--color-secondary);
}
.maintenance-page__wrapper {
  padding: 1.5rem;
  text-align: center;
  border: 1px solid var(--color-secondary);
  background-color: var(--color-white);
}

.maintenance-page__header svg {
  max-width: 200px;
  margin-bottom: $base-line-height;
}

.maintenance-page__content p:nth-last-child(1) {
  margin-bottom: 0;
}
