/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/**
 * @file
 * All the variables we are using in our styling are listed here.
 */
/**
 * @file
 * All the fonts we are using in our styling are listed here.
 */
/**
 * @file
 * All the mixins we are using in our styling are listed here.
 */
/**
 * @file
 * All the extends/pseudo-classes we are using in our styling are listed here.
 */
/**
 * Give items a smooth transition
 */
/* line 9, ../sass/lib/_extends.scss */
.cta a, .trusted {
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  transition-duration: .5s;
  -webkit-transition-duration: .5s;
  /* Safari */
}

/**
 * Wrapper to give max-width/center some sections.
 */
/**
* Styling for the body element.
*/
/* line 5, ../sass/elements/_body.scss */
body {
  font-family: "Open Sans", Verdana, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/**
* Common a (link) attributes
*/
/* line 5, ../sass/elements/_a.scss */
a {
  color: #E3DAD6;
  text-decoration: none;
}

/**
* Heading attributes
*/
/* line 14, ../sass/elements/_h.scss */
h1 {
  font-size: 80px;
  line-height: 1;
}

/* line 19, ../sass/elements/_h.scss */
h2 {
  font-size: 40px;
}

/* line 23, ../sass/elements/_h.scss */
h3 {
  font-size: 24px;
  line-height: 2.5;
}

/* line 28, ../sass/elements/_h.scss */
h4 {
  font-size: 16px;
}

/* line 32, ../sass/elements/_h.scss */
h5 {
  font-size: 12px;
}

/* line 36, ../sass/elements/_h.scss */
h6 {
  font-size: 8px;
}

/**
* Styling for the paragraph element.
*/
/* line 5, ../sass/elements/_p.scss */
p {
  margin: 7.5px 0;
  margin: 0.75rem 0;
}

/**
 * @file
 * This is the styling for .benefit classes.
 */
/* line 6, ../sass/classes/_benefit.scss */
.benefit {
  padding: 10px;
  padding: 1rem;
  margin-bottom: 5px;
  margin-bottom: 0.5rem;
}

/**
 * @file
 * This is the styling for .bgcol classes.
 */
/* line 6, ../sass/classes/_bgcol.scss */
.bgcolb {
  background-color: #000;
}

/* line 10, ../sass/classes/_bgcol.scss */
.bgcolw {
  background-color: #fff;
}

/* line 14, ../sass/classes/_bgcol.scss */
.bgcol1 {
  background-color: #E63129;
}

/* line 18, ../sass/classes/_bgcol.scss */
.bgcol2 {
  background-color: #01AB9B;
}

/* line 22, ../sass/classes/_bgcol.scss */
.bgcol3 {
  background-color: #E3DAD6;
}

/* line 26, ../sass/classes/_bgcol.scss */
.bgcol4 {
  background-color: #674839;
}

/* line 30, ../sass/classes/_bgcol.scss */
.bgcol5 {
  background-color: #1e3062;
}

/**
 * @file
 * This is the styling for .border classes.
 */
/* line 6, ../sass/classes/_borders.scss */
.border-top {
  border-top: 3px solid #fff;
}

/* line 10, ../sass/classes/_borders.scss */
.border-bottom {
  border-bottom: 1px solid #fff;
}

/**
 * @file
 * This is the styling for .col class.
 */
/* line 7, ../sass/classes/_columns.scss */
.cols-4 {
  box-sizing: border-box;
  display: block;
}
@media (min-width: 520px) {
  /* line 7, ../sass/classes/_columns.scss */
  .cols-4 {
    display: inline-block;
    width: 46%;
  }
}
@media (min-width: 768px) {
  /* line 7, ../sass/classes/_columns.scss */
  .cols-4 {
    width: 22%;
  }
}

/**
 * @file
 * This is the styling for the .contained class. It allows us to keep certain
 * sections of the website centred with a max-width.
 */
/* line 7, ../sass/classes/_contained.scss */
.contained {
  padding: 20px;
  padding: 2rem;
  margin: auto;
  max-width: 960px;
}

/**
 * @file
 * This is the styling for .cta class.
 */
/* line 8, ../sass/classes/_cta.scss */
.cta a {
  padding: 20px 0;
  padding: 2rem 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #000;
  color: #E63129;
  display: block;
  margin: auto;
  text-decoration: none;
  text-transform: uppercase;
  width: 300px;
}
/* line 20, ../sass/classes/_cta.scss */
.cta a:focus, .cta a:hover {
  background: #01AB9B;
  color: #fff;
}
@media (min-width: 520px) {
  /* line 8, ../sass/classes/_cta.scss */
  .cta a {
    margin: 0;
  }
}

/**
 * @file
 * This is the styling for .fc- classes.
 */
/* line 6, ../sass/classes/_font-colours.scss */
.fc-w {
  color: #fff;
}

/* line 10, ../sass/classes/_font-colours.scss */
.fc-b {
  color: #000;
}

/* line 14, ../sass/classes/_font-colours.scss */
.fc-1 {
  color: #E63129;
}

/* line 18, ../sass/classes/_font-colours.scss */
.fc-2 {
  color: #01AB9B;
}

/* line 22, ../sass/classes/_font-colours.scss */
.fc-3 {
  color: #E3DAD6;
}

/* line 26, ../sass/classes/_font-colours.scss */
.fc-4 {
  color: #674839;
}

/* line 30, ../sass/classes/_font-colours.scss */
.fc-5 {
  color: #1e3062;
}

/**
 * @file
 * This is the styling for .fs (font-size) classes.
 */
/* line 6, ../sass/classes/_font-sizes.scss */
.fs-small {
  font-size: 12px;
}

/**
 * @file
 * This is the styling for .fw- classes.
 */
/* line 7, ../sass/classes/_font-weights.scss */
.fw-light, h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

/* line 11, ../sass/classes/_font-weights.scss */
.fw-regular {
  font-weight: 400;
}

/* line 15, ../sass/classes/_font-weights.scss */
.fw-semi-heavy {
  font-weight: 600;
}

/* line 19, ../sass/classes/_font-weights.scss */
.fw-heavy {
  font-weight: 700;
}

/* line 23, ../sass/classes/_font-weights.scss */
.fw-extra-heavy {
  font-weight: 800;
}

/**
 * @file
 * This is the styling for the .logo class.
 */
/* line 6, ../sass/classes/_logo.scss */
.logo {
  padding: 10px;
  padding: 1rem;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #fff;
  width: 123px;
}

/**
 * @file
 * This is the styling for the .text class.
 */
/* line 6, ../sass/classes/_text.scss */
.text-center {
  text-align: center;
}

/* line 10, ../sass/classes/_text.scss */
.text-left {
  text-align: left;
}

/* line 14, ../sass/classes/_text.scss */
.text-right {
  text-align: right;
}

/* line 18, ../sass/classes/_text.scss */
.text-uppercase {
  text-transform: uppercase;
}

/**
 * @file
 * This is the styling for .trusted class.
 */
/* line 6, ../sass/classes/_trusted.scss */
.trusted {
  margin-bottom: 5px;
  margin-bottom: 0.5rem;
  padding: 10px;
  padding: 1rem;
  background-color: #E3DAD6;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
/* line 79, ../sass/lib/_mixins.scss */
.trusted:focus, .trusted:hover {
  background-color: #cebfb8;
}
