/**
 * This file is used to style the building blocks field.
 *
 * It's a high-level file, probably only used for the wrapper classes.
 */

.building-blocks > .building-block {
  margin-bottom: $base-line-height;
  @include breakpoint($bp--medium) {
    margin-bottom: $base-line-height * 2;
  }
  @include breakpoint($bp--xlarge) {
    margin-bottom: $base-line-height * 3;
  }
}

.building-block {
  .video__item,
  .single-image,
  .quote,
  .call-to-action {
    margin-bottom: $base-line-height * 2;
  }
}

// Add margin-top if the following building blocks are not the first building
// blocks on the page.
.building-block + .building-block {
  .video__item,
  .single-image,
  .quote,
  .call-to-action,
  .related-content-border {
    margin-top: $base-line-height * 2;
  }
}
