/**
 * @file
 * This file sets up the basic vertical rhythm for our sites.
 *
 * Notes:
 * - In general, we are using vertical rhythm settings from www.gridlover.net
 * - In general, what they call h2, we call h1; what they call h3, we call h2, etc.
 * - This file sets up the base font size for the html element, and then the
 *   line heights and bottom margin for items.
 * - The font sizes for headings is posted in _headings.scss.
 */

$base-font-size: $fs--default; // The font size set on the root html element, defined in _fonts.scss
$base-line-height: 1.5 * $base-font-size; // This line-height determines the basic unit of vertical rhythm.

html {
  box-sizing: border-box;
  line-height: 1.5;
  scroll-behavior: smooth;

  strong {
    font-weight: 900;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin-top: 0;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  margin: 0;
}

h1,
.h1 {
  margin-bottom: 2rem;
  line-height: 1.25;
}

h2,
.h2 {
  margin-bottom: 1rem;
}

h3,
.h3 {
  margin-bottom: 1rem;
}

h4,
.h4 {
  margin-bottom: 1rem;
}

h5,
.h5 {
  margin-bottom: 1rem;
}

p,
ul,
ol,
pre,
table,
blockquote {
  margin-bottom: 1rem;
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin-bottom: 0;
}

sub,
sup {
  position: relative;
  vertical-align: baseline;
  line-height: 0;
}

sup {
  top: -0.5rem;
}

sub {
  bottom: -0.25rem;
}
