{#
  /**
   * This is a simple paragraph bundle, the purpose of which is to create
   * a div with an id so editors can link to sections of the page.
   */
#}

<div id="{{ paragraph.field_p_anchor_anchor.value }}"></div>
