# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore Temporary folder
.tmp/
.tmp/*

# Ignore sass-cache
profiles/adfl/themes/adflzen/.sass-cache/*
*.scssc

# Ignore DS_Store Files
*.DS_Store

# Ignore DBs
.dbs
backups
dbs
