{%
set classes = [
  "region-page-title",
  "layout-contained",
  "padding-horizontal",
]
%}

<section{{ attributes.addClass(classes) }}>
  {{ page_title_content }}
</section>

{% block content_variable %}
  {#
    This allows the cache_context to bubble up for us, without having to
    individually list every field in
    {{ content|without('field_name', 'field_other_field', 'field_etc') }}
  #}
  {% set catch_cache = content|render %}
{% endblock %}
