{%
set classes = [
  "layout-tabs"
]
%}

{% if tabs_content %}
  <section{{ attributes.addClass(classes) }}>
    <div class="layout-contained padding-horizontal">
      {{ tabs_content }}
    </div>
  </section>
{% endif %}

{% block content_variable %}
  {#
    This allows the cache_context to bubble up for us, without having to
    individually list every field in
    {{ content|without('field_name', 'field_other_field', 'field_etc') }}
  #}
  {% set catch_cache = content|render %}
{% endblock %}
