/**
 * @file
 * This is the styling for .col class.
 */

// Items take up 1 quarter of the screenspace each on desktop, floating left
.cols-4 {
  box-sizing: border-box;
  display: block;
  @include breakpoint($small) {
    display: inline-block;
    width: 46%;
  }
  @include breakpoint($medium) {
    width: 22%;
  }
}
