/**
 * @file
 * This is the styling for .fw- classes.
 */

// Font Weights
.fw-light {
  font-weight: 300;
}

.fw-regular {
  font-weight: 400;
}

.fw-semi-heavy {
  font-weight: 600;
}

.fw-heavy {
  font-weight: 700;
}

.fw-extra-heavy {
  font-weight: 800;
}
