.main-navigation {
  text-align: right;
}

.main-navigation .menu-toggle {
  margin-top: 1rem;
  cursor: pointer;
  color: $c-grey--darkest;
  border: none;
  background: $c-white;
  font-size: 1.5rem;
  @include breakpoint($bp--xlarge) {
    display: none;
  }
}

.main-navigation .main-navigation__menu {
  display: none;
}

.main-navigation .menu {
  margin: 0;
  padding: 0;
  @include breakpoint($bp--xlarge) {
    display: flex;
    justify-content: end;
    justify-content: flex-end;
  }
}

.main-navigation .menu-item {
  margin: 0.25rem 0.5rem;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  font-weight: bold;
  @include breakpoint($bp--xlarge) {
    transform: rotate(-2deg);
    margin: 0.25rem 0.75rem;
    &:nth-of-type(2n+1) {
      transform: rotate(1.5deg);
    }
  }
}

.main-navigation .menu-item a {
  display: block;
  padding: 0.25rem 0;
  text-decoration: none;
  &:focus,
  &:hover {
    text-decoration: underline;
  }
}
.main-navigation .menu-item a {
  @include animated_link($c-secondary);
}
