{%
set classes = [
  "text",
  'layout-contained',
  'padding-horizontal'
]
%}

<div{{ attributes.addClass(classes) }}>
  {{ text_content }}
</div>

{% block content_variable %}
  {#
    This allows the cache_context to bubble up for us, without having to
    individually list every field in
    {{ content|without('field_name', 'field_other_field', 'field_etc') }}
  #}
  {% set catch_cache = content|render %}
{% endblock %}
