{%
set classes = [
  "region",
  "region-page-title",
  "layout-contained--medium"
]
%}
<div class="layout-page-title">
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      <div class="block-page-title-block">
        <h1 class="page-title">{{ page_title }}</h1>
      </div>
    {% endblock %}
  </div>
</div>
