.housekeeping {
  background-color: var(--color-secondary);
}

.housekeeping__content > * {
  margin-bottom: $base-line-height;
}

.housekeeping__content {
  text-align: center;
  font-weight: $fw--light;

  @include breakpoint($bp--large) {
    @include flex-default;

    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: left;

    > * {
      margin-bottom: 0;
    }
  }
}

.housekeeping__content-first {
  color: var(--color-white);
}

.housekeeping__content .menu {
  @include flex-default;

  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.housekeeping__content .menu-item {
  list-style-type: none;

  a {
    text-decoration: none;
    color: var(--color-white);

    &:focus,
    &:hover {
      text-decoration: underline;
      color: var(--color-white);
    }
  }
}
