{%
set classes = [
  "housekeeping",
  "padding-vertical",
  "be-text--tiny",
]
%}

<section{{ attributes.addClass(classes) }}>
  <div class="layout-contained padding-horizontal">
    <div class="housekeeping__content">
      <p class="housekeeping__content-first">
        &copy; YYYY - {{ "now"|date('Y') }}
      </p>
      <div class="housekeeping__content-second">
        {{ housekeeping_menu }}
      </div>
    </div>
  </div>
</section>

{% block content_variable %}
  {#
    This allows the cache_context to bubble up for us, without having to
    individually list every field in
    {{ content|without('field_name', 'field_other_field', 'field_etc') }}
  #}
  {% set catch_cache = content|render %}
{% endblock %}
