<section rel="schema:comment" data-quickedit-field-id="node/38/comment/en/full" class="field field--name-comment field--type-comment field--label-hidden comment-wrapper">

  <h2 class="title comment-form__title">Add new comment</h2>
  <div>
    <form
      class="comment-comment-form comment-form"
      data-drupal-selector="comment-form"
      action=""
      method="post"
      id="comment-form"
      accept-charset="UTF-8">

      <div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-name form-item-name">
        <label for="edit-name">Your name</label>
        <input data-drupal-default-value="Anonymous" data-drupal-selector="edit-name" id="edit-name" name="name" value="" size="30" maxlength="60" class="form-text" type="text">
      </div>
      
      <div class="field--type-string field--name-subject field--widget-string-textfield js-form-wrapper form-wrapper" data-drupal-selector="edit-subject-wrapper" id="edit-subject-wrapper">
        <div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-subject-0-value form-item-subject-0-value">
          <label for="edit-subject-0-value">Subject</label>
          <input class="js-text-full text-full form-text" data-drupal-selector="edit-subject-0-value" id="edit-subject-0-value" name="subject[0][value]" value="" size="60" maxlength="64" placeholder="" type="text">
        </div>
      </div>

      <div class="field--type-text-long field--name-comment-body field--widget-text-textarea js-form-wrapper form-wrapper" data-drupal-selector="edit-comment-body-wrapper" id="edit-comment-body-wrapper">
        <div class="js-text-format-wrapper text-format-wrapper js-form-item form-item">
          <div class="js-form-item form-item js-form-type-textarea form-type-textarea js-form-item-comment-body-0-value form-item-comment-body-0-value">
            <label for="edit-comment-body-0-value" class="js-form-required form-required">Comment</label>
            <div class="form-textarea-wrapper">
              <textarea>
              </textarea>
            </div>
          </div>
        </div>
      </div>

      <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions">
        <input data-drupal-selector="edit-submit" id="edit-submit" name="op" value="Save" class="button button--primary js-form-submit form-submit" type="submit">
        <input data-drupal-selector="edit-preview" id="edit-preview" name="op" value="Preview" class="button js-form-submit form-submit" type="submit">
      </div>

    </form>
  </div>

</section>
