.node--type-article.node--view-mode-full .field--name-field-main-image {
  margin-bottom: $base-line-height;
  @include breakpoint($bp--medium) {
    margin-bottom: $base-line-height * 2;
  }
  @include breakpoint($bp--large) {
    margin-bottom: $base-line-height * 3;
  }
}

.indented {
  margin-right: -1rem;
  margin-left: 1rem;
  @include breakpoint($bp--medium) {
    margin-right: -3rem;
    margin-left: 3rem;
  }
}

.comment {
  margin-bottom: $base-line-height;
  padding: 1rem;
  border: 1px solid $c-grey;
  border-left: 4px solid $c-grey;
}

.comment.by-node-author {
  padding: 1rem;
  border-left: 4px solid $c-primary;
  background-color: rgba($c-primary, 0.1);
}

.comment .field--name-comment-body {
  margin-right: 1rem;
  margin-left: 1rem;
  @include breakpoint($bp--medium) {
    margin-right: 3rem;
    margin-left: 3rem;
  }
}

.comment-form {
  margin-bottom: $base-line-height;
  @include breakpoint($bp--medium) {
    margin-bottom: $base-line-height * 2;
  }
  @include breakpoint($bp--large) {
    margin-bottom: $base-line-height * 3;
  }
}

.comment-form .form-item {
  margin-bottom: $base-line-height;
}

.comment-form label {
  display: block;
  font-weight: bold;
}

.comment-form .form-text,
.comment-form textarea {
  width: 100%;
  max-width: 100%;
  padding: 0.5rem 1rem;
}

.comment-form .filter-wrapper {
  display: none; // Hide the HTML input tips.
}
