/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* Increase the body font size on small touch devices */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/markconroy\/htdocs\/mark\.ie\/sites\/all\/themes\/markie\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\0000316}}
body {
  font-size: 100%;
}

/* =============================================================================
 *   Mobile Menu Toggle
 *   See your theme settings extensions for how to enable the menu toggle.
 *   These are example styles for the menu toggle menu, you can use these in the
 *   relevant responsive stylesheets as required. Modify to suit your design.
 * ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/markconroy\/htdocs\/mark\.ie\/sites\/all\/themes\/markie\/sass\/responsive\.smalltouch\.landscape\.scss}line{font-family:\0000326}}
.at-mt .at-menu-toggle {
  /* The toggle link */
  /* Menu items */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/markconroy\/htdocs\/mark\.ie\/sites\/all\/themes\/markie\/sass\/_custom\.scss}line{font-family:\00003232}}
.at-mt .at-menu-toggle h2 {
  margin-bottom: 5px;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/markconroy\/htdocs\/mark\.ie\/sites\/all\/themes\/markie\/sass\/_custom\.scss}line{font-family:\00003236}}
.at-mt .at-menu-toggle h2 a {
  background: #dd4814;
  color: #f4f4f4;
  padding: .2em 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/markconroy\/htdocs\/mark\.ie\/sites\/all\/themes\/markie\/sass\/_custom\.scss}line{font-family:\00003244}}
.at-mt .at-menu-toggle ul.menu li a {
  background: #dd4814;
  color: #f4f4f4;
  border-bottom: 0.1em solid #f4f4f4;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/markconroy\/htdocs\/mark\.ie\/sites\/all\/themes\/markie\/sass\/_custom\.scss}line{font-family:\00003250}}
.at-mt .at-menu-toggle ul.menu li a:focus, .at-mt .at-menu-toggle ul.menu li a:hover {
  background: #353535;
  border-left: 0.1em solid #f4f4f4;
  border-right: 0.1em solid #f4f4f4;
  color: #f4f4f4;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
