$spacing--sm: 5px;
$spacing--l: 20px;

.u-spacing-down {
  margin-bottom: $spacing--l;
}

.u-spacing-up {
  margin-top: $spacing--l;
}

.u-gap-down {
  margin-bottom: $spacing--sm;
}

.u-gap-up {
  margin-top: $spacing--sm;
}

.padding {
  padding: 0 $base-font-size;
}
.padding-horizontal {
  padding-right: $base-font-size;
  padding-left: $base-font-size;
}
.padding-vertical {
  padding-top: $base-font-size;
  padding-bottom: $base-font-size;
}
