{#
/**
 * @file
 * Theme implementation the content area of the modal ai tools library dialog.
 *
 * The content area is everything that is not the menu of available group
 * types. This includes the form to add new ai tools items, if available, and
 * the view of available tools to select.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - children: The rendered child elements of the container.
 * - has_parent: A flag to indicate that the container has one or more parent
     containers.
 *
 * @see template_preprocess_container()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    has_parent ? 'js-form-wrapper',
    has_parent ? 'form-wrapper',
    'ai-tools-library-content',
  ]
%}
<div{{ attributes.addClass(classes) }}>{{ children }}</div>
