.social-sharing__menu {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
}

.social-sharing__menu-item {
  width: 1.6rem;
  height: 1.6rem;
  margin: 0 0.5rem;
  list-style: none;
  text-align: center;
  border-radius: 1rem;
  background-color: $c-grey--darker;

  svg {
    width: 1.3rem;
    height: 1.3rem;
    padding-top: 0.3rem;
  }

  path {
    fill: $c-white;
  }
}

.social-sharing__menu-item--facebook {
  background-color: #3b5998;
}

.social-sharing__menu-item--twitter {
  background-color: #55acee;
}

.social-sharing__menu-item--linkedin {
  background-color: #0e76a8;
}

.social-sharing__menu-item--email {
  background-color: $c-grey--darker;
}

.social-sharing__menu-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
