.system-page__wrapper {
  margin-top: $base-line-height;
  padding: 1rem;
  text-align: center;
  border: 1px solid $c-primary;

  @include breakpoint($bp--large) {
    margin-top: $base-line-height * 2;
    padding: $base-line-height;
  }

  @include breakpoint($bp--xxlarge) {
    margin-top: $base-line-height * 3;
    padding: 2rem;
  }
}

.system-page h1 {
  color: $c-primary;
}
