<div class="layout-contained layout-contained--medium padding-horizontal margin-top">
{%
set classes = [
  "form-text"
]
%}

<input{{attributes.addClass(classes)}}
  contenteditable
  placeholder="You can edit this"></input>

</div>