{%
set classes = [
  "timeline",
  "layout-contained",
  "layout-contained--medium",
  "padding-horizontal",
]
%}

<div{{ attributes.addClass(classes) }}>
  <h2 class="timeline__title">
    {{ timeline_title }}
  </h2>

  {% block timeline_items %}
    {% for timeline_item in timeline_items %}
      {{ timeline_item }}
    {% endfor %}
  {% endblock %}

</div>

{% block content_variable %}
  {#
    This allows the cache_context to bubble up for us, without having to
    individually list every field in
    {{ content|without('field_name', 'field_other_field', 'field_etc') }}
  #}
  {% set catch_cache = content|render %}
{% endblock %}
