{%
set classes = [
  "quote",
  "layout-contained",
  "layout-contained--medium",
  "padding-horizontal"
]
%}

<div{{ attributes.addClass(classes) }}>
  <blockquote class="quote__quote">
    
    {{ quote }}

    {% if quote_author %}
      <footer class="quote__author">
        {{ quote_author }}
      </footer>
    {% endif %}

  </blockquote>
</div>

{% block content_variable %}
  {#
    This allows the cache_context to bubble up for us, without having to
    individually list every field in
    {{ content|without('field_name', 'field_other_field', 'field_etc') }}
  #}
  {% set catch_cache = content|render %}
{% endblock %}
