.form-type-select {
  position: relative;
}

.form-type-select::after {
  position: absolute;
  top: 2px;
  right: 1.5rem;
  content: "\25BE";
  pointer-events: none;
}

.form-select {
  width: 90%;
  max-width: 300px;
  padding: 0.5rem;
  border: 1px solid var(--color-grey--dark);
  background: var(--color-white);
  appearance: none;
}
