.breadcrumb ol {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.breadcrumb li {
  display: inline-block;
  font-size: .75rem;
  padding: .5rem 0;
  &:after {
    content: "»";
    margin: .15rem;
  }
  &:last-of-type:after {
    content: '';
  }
}

.breadcrumb li a {
  text-decoration: none;
  &:focus,
  &:hover {
    text-decoration: underline;
  }
}
