{%
set classes = [
  "credits",
  "clearfix"
]
%}

<div{{ attributes.addClass(classes) }}>
  <div class="layout-contained">
    <div class="credits__inner padding">
      <p>&copy; 2017</p>
      <p><a href="https://mark.ie">Web Design and Development by <strong>markie</strong></a></p>
    </div>
  </div>
</div>
