.node--unpublished {
  background-color: #fcc;
  &::before {
    display: block;
    content: "Unpublished";
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
  }
}
