// This will adjust the base HTML font size fluidly between the xsmall and
// xxlarge breakpoints to a font size between 14px minimum to 18px maximum.

html {
  color: var(--color-grey--dark);
  font-family: $ff--regular;
}

::selection {
  color: var(--color-white);
  background: var(--color-secondary);
}
::-moz-selection {
  color: var(--color-white);
  background: var(--color-secondary);
}
