.button-link a {
  display: inline-block;
  padding: 0.75rem 3rem;
  text-decoration: none;
  color: $c-white;
  border-radius: 2rem;
  background-color: $c-primary--dark;
  font-family: $ff--alternate;

  &:focus,
  &:hover {
    text-decoration: underline;
    color: $c-black;
    background-color: $c-secondary;
  }
}
