<div
  class="search-block-form contextual-region block block-search container-inline"
  data-drupal-selector="search-block-form"
  id="block-patternlab-search"
  role="search">
  <form
    accept-charset="UTF-8"
    action="/search/node"
    data-drupal-form-fields="edit-keys"
    id="search-block-form"
    method="get">

    <div class="js-form-item form-item js-form-type-search form-type-search
        js-form-item-keys form-item-keys form-no-label">

      <label class="visually-hidden" for="edit-keys">Search</label>

      <input
        class="form-search"
        data-drupal-selector="edit-keys"
        id="edit-keys"
        maxlength="128"
        name="keys"
        size="15"
        title="Enter the terms you wish to search for."
        type="search"
        value=""
        placeholder="Search...">

    </div>

    <div
      class="form-actions js-form-wrapper form-wrapper"
      data-drupal-selector="edit-actions"
      id="edit-actions"><input
        class="search-box__button button js-form-submit form-submit"
        data-drupal-selector="edit-submit"
        data-twig-suggestion="search_icon_submit"
        id="edit-submit"
        type="submit"
        value="Search">
    </div>

  </form>
</div>
