/**
 * @file
 * This file is used to create styling for the card building block.
 */

.card-list {
  @include breakpoint($bp--large) {
    display: flex;
  }
}

.card {
  background: $c-primary__light;
  border: 1px solid $c-grey--lightest;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin: 1rem;
  padding: 1rem;
}

.card img {
  width: 100%;
}
