/**
 * @media-entity media_entity_browser.view.css
 */

@media screen and (min-width:37.5em) { /* 600px */

}

@media screen and (min-width:62.5em) { /* 1000px */
  .view-media-entity-browser .view-content {
    display: flex;
    flex-wrap: wrap;
  }

  .view-media-entity-browser .views-row {
    flex: 0 0 20%;
    width: auto;
  }
}
