<form
  class="views-exposed-form"
  data-drupal-selector="views-exposed-form-notices-page-1"
  method="get"
  id="views-exposed-form-notices-page-1"
  accept-charset="UTF-8"
  data-drupal-form-fields="edit-keywords,edit-date-from-date,edit-date-to-date,edit-notice-type">
  <div class="form--inline clearfix">

  exposed form goes here if we have one.

  </div>

</form>
