.pager__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: $base-line-height;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
}

.pager__item {
  display: flex;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  list-style-type: none;
}

.pager__item a {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: var(--color-white);
  border-radius: 24px;
  background-color: var(--color-secondary);
}

.pager__item--first,
.pager__item--last,
.pager__item--previous,
.pager__item--next {
  a {
    color: var(--color-secondary);
    border: 1px solid var(--color-grey--light);
    background-color: var(--color-white);
  }
}

.pager__item a:focus,
.pager__item a:hover {
  text-decoration: underline;
  color: var(--color-white);
  background-color: var(--color-primary);
}

.pager__item.is-active a {
  color: var(--color-white);
  background-color: var(--color-primary--dark);

  &:hover,
  &:focus {
    color: var(--color-white);
    background-color: var(--color-secondary);
  }
}
