.gradient {
  height: 1rem;
  margin-top: -1px;
  margin-bottom: -1px;
  line-height: 1;
}
.gradient--flip-horizontal {
  transform: rotateY(180deg);
}
.gradient--flip-vertical {
  transform: rotateX(180deg);
}
.gradient--flip-horizontal.gradient--flip-vertical {
  transform: rotate(180deg);
}
.gradient--small {
  height: 0.5rem;
}

@each $theme-colour, $colour in $theme-colours {
  .gradient__colour--#{$theme-colour} {
    stop-color: $colour;
  }
}
.gradient__colour--transparent {
  stop-color: transparent;
}
