
$base-font-size:   18px; // The font size set on the root html element.
$base-line-height: 1.3 * $base-font-size; // This line-height determines the basic unit of vertical rhythm.

html {
  line-height: 1.3;
  *,
  *:before,
  *:after {
    margin-top: 0;
  }
}

body {
  margin: 0;
}

.h1--special {
  margin-bottom: $base-line-height * 2;
}

h1, .h1 {
  margin-bottom: $base-line-height;
}

h2, .h2 {
  margin-bottom: $base-line-height;
}

h3, .h3 {
  margin-bottom: $base-line-height;
}

h4, .h4 {
  margin-bottom: $base-line-height;
}

h5, .h5 {
  margin-bottom: $base-line-height;
}

p, ul, ol, pre, table, blockquote {
  margin-bottom: $base-line-height;
}

ul ul, ol ol, ul ol, ol ul {
  margin-bottom: 0rem;
}

sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5rem;
}

sub {
  bottom: -0.25rem;
}
