{%
set classes = [
  "system-page",
  "system-page--403",
  "padding-horizontal"
]
%}

<article{{ attributes.addClass(classes) }}>

  <div class="system-page__wrapper layout-contained--large layout-contained">
    <div class="system-page__content">
      {% trans %}
        <h1>Access Denied</h1>
        <h2>Sorry, You are not authorized to access this page.</h2>
        <p>Perhaps you need to <a href="/user">Login</a>.</p>
      {% endtrans %}
    </div>
  </div>
</article>

{% block content_variable %}
  {#
    This allows the cache_context to bubble up for us, without having to
    individually list every field in
    {{ content|without('field_name', 'field_other_field', 'field_etc') }}
  #}
  {% set catch_cache = content|render %}
{% endblock %}
