// Theming individual tiles

.tile {
  width: 100%;
  margin-bottom: $base-line-height;
  border-top: 0.5rem solid $c-primary;
  background-color: $c-grey--lighter;
}

a.tile {
  text-decoration: none;
  &:focus,
  &:hover {
    background-color: $c-primary;
    .tile__title,
    .tile__text {
      color: $c-white;
    }
  }
}

.tile--has-image {
  background-color: $c-white;
}

.tile--small {
  @include breakpoint($bp--medium) {
    width: calc(33% - 2rem);
  }
}
.tile--medium {
  @include breakpoint($bp--medium) {
    width: calc(50% - 2rem);
  }
}
.tile--large {
  @include breakpoint($bp--medium) {
    width: calc(66% - 2rem);
  }
}
.tile--full {
  @include breakpoint($bp--medium) {
    width: calc(100% - 2rem);
  }
}

.tile--primary {
  border-top-color: $c-primary;
}
.tile--secondary {
  border-top-color: $c-secondary;
}
.tile--tertiary {
  border-top-color: $c-tertiary;
}

a.tile--primary {
  &:focus,
  &:hover {
    background-color: $c-primary;
  }
}
a.tile--secondary {
  &:focus,
  &:hover {
    background-color: $c-secondary;
  }
}
a.tile--tertiary {
  &:focus,
  &:hover {
    background-color: $c-tertiary;
    .tile__title,
    .tile__text {
      color: $c-grey--darkest;
    }
  }
}

.tile__content {
  padding: $base-line-height;
}

.tile__title {
  color: $c-grey--darker;
  font-family: $ff--alternate;
}

.tile__image img {
  width: 100%;
  height: auto;
}

.tile__text {
  color: $c-grey--dark;
  p:last-of-type {
    margin-bottom: 0;
  }
}

// Theming the Tiled Layout container

.tiled-layout {
  @include flex-default;
}
