{%
set classes = [
  "tiled-layout",
]
%}

<div class="layout-contained padding-horizontal">
  <div{{ attributes.addClass(classes) }}>

    {% block tiles %}
      {% for tile in tiles %}
        {{ tile }}
      {% endfor %}
    {% endblock %}

  </div>
</div>
{% block content_variable %}
  {#
    This allows the cache_context to bubble up for us, without having to
    individually list every field in
    {{ content|without('field_name', 'field_other_field', 'field_etc') }}
  #}
  {% set catch_cache = content|render %}
{% endblock %}
