{%
set classes = [
  "accordion-item"
]
%}

<div{{ attributes.addClass(classes) }}>
  <button class="accordion-item__trigger">
    {{ content.field_p_ai_title }}
  </button>
  <div class="accordion-item__response">
    {{ content.field_p_ai_response }}
  </div>
</div>
