{#

  This file creates an accordion wrapper.

  It has a twig block called `pl`, which we use in PatternLab to print our
  accordion items from the accordion-item~*.yml files. It is left blank in
  the Drupal template.

  It has an empty twig block called `drupal`, which we print in the
  corresponding Drupal template - paragraph--accordion.html.twig.

  I have used JSON for the content for this file, rather than YAML because I
  couldn't figure out exactly how to do a foreach loop on a .yml array without
  getting `Array to string conversion` errors.

#}

{%
set classes = [
  "accordion"
]
%}

<div{{ attributes.addClass(classes) }}>

  {% block content %}
    {% for accordion_item in content.field_p_a_item %}
      {{ accordion_item }}
    {% endfor %}
  {% endblock %}

</div>
