.quote .layout-contained--blockquote {
  color: $c-grey--darkest;
  margin: auto;
  max-width: 888px;
  padding-right: $base-line-height * 2;
  @include breakpoint($bp--medium) {
  }
  @include breakpoint($bp--xlarge) {
    padding-right: 0;
  }
}

.quote blockquote {
  border-left: 5px solid $c-tertiary;
  font-family: $ff--alternate;
  font-size: 1.25rem;
  line-height: $base-line-height * 1.25;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding-left: 2rem;
  @include breakpoint($bp--medium) {
    line-height: $base-line-height * 1.5;
  }
  @include breakpoint($bp--xlarge) {
    line-height: $base-line-height * 2;
  }
}

.quote blockquote p:last-of-type {
  margin-bottom: 0;
}

.quote .quote__mark {
  float: left;
  margin: 9px 1rem 0 0;
  @include breakpoint($bp--xlarge) {
    margin-top: 14px;
  }
}

.quote footer {
  color: $c-grey--darkest;
  display: inline-block;
  font-family: $ff--regular;
  font-size: $fs--14px;
  text-transform: uppercase;
}

.quote .border-gradient {
  background: $c-secondary;
  background: linear-gradient(to left, transparent, $c-secondary);
  height: 1px;
  margin-bottom: .5rem;
}
