{%
set classes = [
  "quote"
]
%}

<div class="padding">
  <div{{ attributes.addClass(classes) }}>
    <div class="layout-contained--blockquote">
      <blockquote>
        {{ content.field_p_quote_quote }}
        {% if paragraph.field_p_quote_author.value %}
          <footer>
            <div class="border-gradient"></div>
            {{ paragraph.field_p_quote_author.value }}
          </footer>
        {% endif %}
      </blockquote>
    </div>
  </div>
</div>
