// This will adjust the base HTML font size fluidly between the xsmall and
// xxlarge breakpoints to a font size between 14px minimum to 18px maximum.
html {
  box-sizing: border-box;
  color: $c-grey--darkest;
  font-size: 1rem;
}

*,
&::after,
&::before {
  box-sizing: inherit;
}

body {
  background: $c-grey--lightest;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

::selection {
  color: $c-black;
  background: $c-tertiary;
}
::-moz-selection {
  color: $c-black;
  background: $c-tertiary;
}
