p {
  // See code for `html` in _html-elements.scss;
}

a {
  color: $c-grey--darkest;
  &:focus,
  &:hover {
    color: $c-primary;
  }
}

.text--large {
  @include fluid-type(
    font-size,
    $bp--xsmall,
    $bp--xxlarge,
    $base-font-size,
    $base-font-size * 1.6
  );
  @extend .padding;
  margin-bottom: $base-line-height;
  color: $c-grey--darkest;
  font-family: $ff--alternate;
}
