p {
  // See code for `html` in _html-elements.scss;
}

a {
  transition: $trans;
  color: $c-grey--darkest;
  &:focus,
  &:hover {
    color: $c-primary;
  }
}

.text--large {
  @extend .padding;
  @include fluid-type(
  font-size,
  $bp--xsmall,
  $bp--xxlarge,
  $base-font-size,
  $base-font-size * 1.6
  );
  margin-bottom: $base-line-height;
  color: $c-grey--darkest;
  font-family: $ff--alternate;
}
