.navigation--main .menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.navigation--main .menu-item {
  width: 90%;
  margin: 0 0.5rem $base-line-height;
  padding: 0;
  list-style: none;
  text-align: center;

  @include breakpoint($bp--xlarge) {
    width: auto;
    margin-bottom: 0;
  }
}

.navigation--main .menu-item a {
  @include animated_link(var(--color-white), var(--color-white));

  color: var(--color-white);
}
