<div class="layout-container user-forms">

  {% if page.tabs|render|striptags|trim is not empty %}
    <div class="layout-tabs">
      <div class="layout-contained">
        {{ page.tabs }}
      </div>
    </div>
  {% endif %}

  {{ page.page_title }}

  <main role="main">
    <div class="layout-contained centered-xy">
      <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
      <div class="layout-content">
        {{ page.content }}
        <div class="back-to-site">
          <a href="/">{{ 'Back to site'|t }}</a>
        </div>
      </div>{# /.layout-content #}
    </div>
  </main>{# /main #}
</div>{# /.layout-container #}
