/**
 * @file
 * Styles for making Ck Editor a little more modern looking.
 */

.form-type-textarea .cke_top {
  background: transparent;
  border: 0;
  margin: auto;
  max-width: 500px;
  padding: 0;
}

.form-type-textarea .cke_toolbar {
  background: white;
  border: 1px solid lightgray;
  border-top-width: 0;
  padding: 7px 7px 1px;
  margin: 0 9px;
}

.form-type-textarea .cke_toolbox {
  display: flex;
  justify-content: space-between;
}

.form-type-textarea .cke_editable {
  line-height: 1.5;
  background: red !important;
}

.form-type-textarea .cke_toolgroup a.cke_button:last-child::after {
  height: 0;
}
