// Start libs
// Better style reset
@import "normalize";
// A cleaner way to do breakpoints/media queries, http://breakpoint-sass.com/
@import "breakpoint-sass/stylesheets/breakpoint";
// End libs

@import "00-base/_mixins.scss";
@import "00-base/global/01-colors/_color-vars.scss";
@import "00-base/00-fonts/_fonts.scss";
@import "00-base/01-vertical-rhythm/_vertical-rhythm.scss";
@import "00-base/breakpoints/_breakpoints.scss";
@import "00-base/spacing/_spacing.scss";
@import "01-basic-elements/01-typography/headings/_headings.scss";
@import "01-basic-elements/html-element/_html-element.scss";

// overriding ckeditor-iframe.css
body.cke_editable {
  padding: 10px;
  color: var(--color-black);
  font-family: $ff--regular;
  font-size: 1rem;
}
