{% include "page-sections-header" %}

{% block page_title %}
  {% if page_title %}
    {% include "page-sections-page-title" %}
  {% endif %}
{% endblock %}


<main class="site-content">
  {% block content %}
    {{ content }}
  {% endblock %}
</main>

{% include "page-sections-footer" %}
{% include "page-sections-credits" %}
