{%
set classes = [
  "header"
]
%}

<div class="themed-border">
  <div class="themed-border__item bg-primary"></div>
  <div class="themed-border__item bg-secondary"></div>
  <div class="themed-border__item bg-tertiary"></div>
  <div class="themed-border__item bg-primary"></div>
  <div class="themed-border__item bg-secondary"></div>
  <div class="themed-border__item bg-tertiary"></div>
  <div class="themed-border__item bg-primary"></div>
  <div class="themed-border__item bg-secondary"></div>
  <div class="themed-border__item bg-tertiary"></div>
</div>

<header id="header" {{ attributes.addClass(classes) }} role="banner">

  <div class="layout-contained padding">
    <div class="header__inner">

      {% block content %}
        {% for content in contents %}
          {{ content }}
        {% endfor %}
      {% endblock %}

    </div>
  </div>
</header>
