{%
set classes = [
  "accordion-item"
]
%}

<div {{ attributes.addClass(classes) }}>
  <h2 class="accordion__trigger">
    {{ accordion_item_title }}
  </h2>

  <div class="accordion__response">
    {{ accordion_item_response }}
  </div>
</div>

{% block content_variable %}
  {#
    This allows the cache_context to bubble up for us, without having to
    individually list every field in
    {{ content|without('field_name', 'field_other_field', 'field_etc') }}
  #}
  {% set catch_cache = content|render %}
{% endblock %}
