.accordion-item {
  margin-bottom: $base-line-height;
  padding: 0 $base-line-height 0 $base-line-height;
}
.accordion-item.js-accordion {
  border: 1px solid $c-grey--light;
}

.accordion__trigger {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0.75rem 0 0.75rem 0;
  text-align: left;
  border: none;
  outline: none;
  background-color: $c-white;
}

.accordion__trigger-button {
  all: inherit; // styleline-disable-line
  display: flex;
  align-items: center;
  padding: 0;
  border: 0;
  appearance: none;

  svg {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.1rem;
    border: 2px solid transparent;
    border-radius: 1.5rem;
  }

  svg path {
    fill: $c-grey--darkest;
  }
}

.accordion__trigger:focus .accordion__trigger-button svg,
.accordion__trigger:focus-within .accordion__trigger-button svg,
.accordion__trigger-button:focus svg {
  border-color: currentColor;
  outline: 0;
  background-color: $c-grey--darkest;
  path {
    fill: $c-white;
  }
}

.accordion__trigger-icon {
  transition: all 200ms linear;
}

.accordion__response {
  padding: 0;

  p:last-of-type {
    margin-bottom: 0;
  }
}

.accordion-item.js-accordion .accordion__response {
  overflow: hidden;
  height: 0;
  transition: $trans;
}

.accordion-item.is-active .accordion__trigger {
  margin-bottom: 0;
  border-bottom: 1px solid $c-grey--darkest;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;

  + .accordion__response {
    overflow: visible;
    height: auto;
    margin-top: 1rem;
    padding-bottom: $base-line-height;
    opacity: 1;
  }

  .accordion__trigger-icon {
    transform: rotate(180deg);
  }
}

.accordion__trigger-icon {
  position: absolute;
  right: 0;
}

.accordion__trigger-text {
  width: 100%;
  margin-right: auto;
  text-align: left;
  font-weight: $fw--semi-bold;
}
