.h1--special {
  color: $c-primary;
  font-family: $ff--alternate;
  font-size: $base-font-size;
  font-weight: normal;
  @include breakpoint($bp--xlarge) {
    font-size: 4.611rem;
  }
}

h1,
.h1 {
  color: $c-primary;
  font-family: $ff--alternate;
  font-size: 1.3rem;
  font-weight: normal;
  @include breakpoint($bp--small) {
    font-size: 1.6875rem;
  }
  @include breakpoint($bp--xlarge) {
    font-size: 2.778rem;
  }
}

h2,
.h2 {
  color: $c-secondary;
  font-family: $ff--alternate;
  font-size: 1.3rem;
  font-weight: normal;
  @include breakpoint($bp--xlarge) {
    font-size: 1.667rem;
  }
  &.node__title a {
    color: $c-primary;
    &:focus,
    &:hover {
      color: $c-secondary;
    }
  }
}

h3,
.h3 {
  color: $c-secondary;
  font-family: $ff--alternate;
  font-size: 1rem;
  font-weight: normal;
  @include breakpoint($bp--xlarge) {
    font-size: 1.4rem;
  }
}

h4,
.h4 {
  color: $c-secondary;
  font-family: $ff--alternate;
  font-size: 1rem;
  font-weight: normal;
}

h5,
.h5 {
  color: $c-secondary;
  font-family: $ff--alternate;
  font-size: 0.8rem;
  font-weight: normal;
}

h6,
.h6 {
  text-transform: uppercase;
  text-transform: uppercase;
  color: $c-secondary;
  font-size: 0.66rem;
  font-weight: bold;
}

ul,
ol,
p {
   + h2,
   + .h2,
   + h3,
   + .h3,
   + h4,
   + .h4 {
    margin-top: $base-line-height * 2;
  }
}
