{%
set classes = [
  "video"
]
%}
<div class="layout-contained--medium">
  <div{{ attributes.addClass(classes) }}>
    <div class="video__item">
      {{ content.field_p_video_video }}
    </div>
  </div>
</div>
