{%
set classes = [
  "above-header"
]
%}

<div class="themed-border">
  <div class="themed-border__item bg-primary"></div>
  <div class="themed-border__item bg-secondary"></div>
  <div class="themed-border__item bg-tertiary"></div>
</div>

<div{{ attributes.addClass(classes) }}>
  <div class="layout-contained padding">
    <div class="above-header__inner">

      <div class="layout-contained--small">
        {% block content %}
          {{ content }}
        {% endblock %}
      </div>

    </div>
  </div>
</div>
