/**
 * @file
 * This file is used to style items in node--view-mode-full.
 *
 * Items here are generic and may be overridden by more specific styling.
 */

.node--view-mode-full > h1 {
  @extend .layout-contained--small;
  margin-bottom: $base-line-height;
  @include breakpoint($bp--medium) {
    margin-top: $base-line-height * 2
  }
}

.node--view-mode-full > .field--name-field-intro {
  @extend .layout-contained--small;
  @extend .text--large;
}

.node--view-mode-full .node__meta {
  margin-top: $base-line-height;
  @include breakpoint($bp--large) {
    margin-top: $base-line-height * 3;
  }
}

.field--name-field-tags {
  margin-bottom: 1rem;
}

.field--type-text-long a {
  color: $c-primary;
  &:focus,
  &:hover {
    color: $c-grey--darkest;
  }
}

.field--name-field-tags .field__item {
  display: inline;
  margin-right: .5rem;
}
