/**
 * @file
 * This file is used to style items in full.
 *
 * Items here are generic and may be overridden by more specific styling.
 */

.full > h1 {
  @extend .layout-contained--small;
  margin-bottom: $base-line-height;
  @include breakpoint($bp--medium) {
    margin-top: $base-line-height * 2;
  }
}

.full__intro {
  @extend .layout-contained--small;
  @extend .text--large;
}

.full .node__meta {
  margin-top: $base-line-height;
  @include breakpoint($bp--large) {
    margin-top: $base-line-height * 3;
  }
}

.full__tags {
  margin-bottom: 1rem;
}

.field--type-text-long a {
  color: $c-primary;
  &:focus,
  &:hover {
    color: $c-grey--darkest;
  }
}

.full__tags .field__item {
  display: inline;
  margin-right: 0.5rem;
}
