/**
 * @file
 * This file is used to style the tabs region.
 */

.layout-tabs {
  background: $c-black;
}

.region-tabs ul.tabs {
  display: flex;
  margin: 0;
}

.region-tabs li {
  list-style: none;
  margin: 0;
}

.region-tabs li a {
  color: $c-grey--lightest;
  display: inline-block;
  font-weight: bold;
  padding: 0.66rem 1rem;
  text-decoration: none;
  &.is-active {
    background: $c-grey--lighter;
    color: $c-grey--darkest;
  }
  &:focus,
  &:hover {
    background: $c-grey--light;
    color: $c-black;
    text-decoration: underline;
  }
}
