p,
.be-text {
  // See code for `html` in _html-elements.scss;
}

a {
  cursor: pointer;
  transition: $trans;
  text-decoration: underline;
  color: var(--color-secondary);

  &:focus,
  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: 1px dotted;
  }
}

.be-text--large {
  @include fluid-type(
    font-size,
    $bp--xsmall,
    $bp--xxlarge,
    $base-font-size,
    $base-font-size * 1.375
  );

  font-weight: $fw--light;
}

.be-text--small {
  @include fluid-type(
    font-size,
    $bp--xsmall,
    $bp--xxlarge,
    $base-font-size * 0.875,
    $base-font-size * 0.875
  );
}

.be-text--xsmall {
  @include fluid-type(
    font-size,
    $bp--xsmall,
    $bp--xxlarge,
    $base-font-size * 0.75,
    $base-font-size * 0.75
  );
}
