.branding {
  background-color: var(--color-secondary);
  text-shadow: var(--text-shadow);
}

.branding__link {
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
  color: var(--color-white);
  &:focus,
  &:hover {
    color: var(--color-secondary);
    background-color: var(--color-white);
  }
}

.branding__name {
  font-size: 1.5rem;
  font-weight: bold;
}

.branding__logo svg {
  width: 100%;
  height: auto;
}
