<form
	class="views-exposed-form"
	data-drupal-selector="views-exposed-form-search-page-1"
	action="/search"
	method="get"
	id="views-exposed-form-search-page-1"
	accept-charset="UTF-8"
	data-drupal-form-fields="edit-keywords">

	<div class="form--inline clearfix">
		<div class="js-form-item form-item js-form-type-textfield form-type-textfield
				js-form-item-keywords form-item-keywords">

			<label for="edit-keywords">Keywords</label>
			<input
				title="Search keywords"
				data-drupal-selector="edit-keywords"
				type="text"
				id="edit-keywords"
				name="keywords"
				value=""
				size="15"
				maxlength="128"
				class="form-text">
		</div>

		<div
			data-drupal-selector="edit-actions"
			class="form-actions js-form-wrapper form-wrapper"
			id="edit-actions">
			<input
				data-drupal-selector="edit-submit-search"
				type="submit"
				id="edit-submit-search"
				value="Apply"
				class="button js-form-submit form-submit">
		</div>
	</div>

</form>
