.below-header {
  background: $c-white;
  text-align: center;
}

.below-header .below-header__inner {
  @include breakpoint($bp--xlarge) {
    display: flex;
    justify-content: space-between;
  }
}

.below-header .block-menu {
  border-bottom: 1px solid $c-grey--lighter;
  @include breakpoint($bp--xlarge) {
    border-bottom: 0;
  }
}

.below-header .menu {
  display: flex;
  margin: 0;
  padding: 0;
}

.below-header .menu-item {
  border-left: 1px solid $c-grey--lighter;
  list-style: none;
  flex: 1 0 33%;
  -ms-flex: 1 0 130px; // IE11 needs an explicit unit set on flex-basis.
  &:last-of-type {
    border-right: 1px solid $c-grey--lighter;
  }
}

.below-header .menu-item a {
  color: $c-grey--darkest;
  display: block;
  padding: $base-line-height;
  text-decoration: none;
  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

.below-header .menu--external-links {
  @include breakpoint($bp--xlarge) {
    font-size: $fs--14px;
  }
}

.below-header .menu--external-links .menu-item {
  @include breakpoint($bp--xlarge) {
    min-width: 200px; // To make sure 'Irish Coast Guard' doesn't wrap to 2 lines.
  }
}
