.default-list .view-content {
  margin-bottom: $base-line-height;
  @include breakpoint($bp--medium) {
    margin-bottom: $base-line-height * 2;
  }
  @include breakpoint($bp--xlarge) {
    margin-bottom: $base-line-height * 3;
  }
}
.default-list .views-row {
  @extend .layout-contained--small;
  @extend .padding;
  &:before {
    background: $c-grey--darkest;
    content: "";
    display: block;
    height: 1px;
    width: 100%;
  }
  &:last-of-type {
    &:after {
      background: $c-grey--darkest;
      content: "";
      display: block;
      height: 1px;
      width: 100%;
    }
  }
}

.view-filters .views-exposed-form {
  margin-bottom: $base-line-height;
  @include breakpoint($bp--medium) {
    margin-bottom: $base-line-height * 2;
  }
}

.view-filters .views-exposed-form .form-item {
  margin-bottom: 1rem;
  @include breakpoint($bp--large) {
    margin-bottom: 0;
    margin-right: 1rem;
  }
}
.view-filters .views-exposed-form .form-item > label {
  @extend .visually-hidden;
}

.view-filters .views-exposed-form input {
  @include fluid-type(font-size, $bp--xsmall, $bp--xxlarge, 12px, 14px);
  border: 1px solid $c-grey--darkest;
  border-radius: 5px;
  height: 54px;
  padding: 0 1rem;
  max-width: 220px;
  &:focus,
  &:hover {
    border: 1px solid $c-grey--darkest;
  }
  &.form-submit {
    background: $c-grey--darkest;
    color: $c-white;
    cursor: pointer;
    &:focus,
    &:hover {
      background: $c-black;
      border: 1px solid $c-grey--darkest;
    }
  }
}

.view-filters .views-exposed-form .form--inline {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  max-width: 220px;
  @include breakpoint($bp--large) {
    max-width: none;
  }
}
