.default-list .view-content {
  @extend .padding;
  margin-bottom: $base-line-height;
  @include breakpoint($bp--medium) {
    margin-bottom: $base-line-height * 2;
  }
  @include breakpoint($bp--xlarge) {
    margin-bottom: $base-line-height * 3;
  }
}
.default-list .views-row {
  @extend .layout-contained--small;
  position: relative;
  padding: 3rem 1rem;
  transform: rotate(-0.75deg);
  border: 2px solid $c-secondary;
  border-radius: 0.5rem;
  background-color: $c-grey--lightest;
  box-shadow: 1px 2px 1px 2px $c-secondary;
  @include breakpoint($bp--xlarge) {
    left: 8px;
  }
  &:nth-of-type(2n+1) {
    transform: rotate(0.5deg);
    @include breakpoint($bp--xlarge) {
      left: -8px;
    }
  }
}

.view-filters .views-exposed-form {
  margin-bottom: $base-line-height;
  @include breakpoint($bp--medium) {
    margin-bottom: $base-line-height * 2;
  }
}

.view-filters .views-exposed-form .form-item {
  margin-bottom: 1rem;
  @include breakpoint($bp--large) {
    margin-right: 1rem;
    margin-bottom: 0;
  }
}
.view-filters .views-exposed-form .form-item > label {
  @extend .visually-hidden;
}

.view-filters .views-exposed-form input {
  @include fluid-type(font-size, $bp--xsmall, $bp--xxlarge, 12px, 14px);
  max-width: 220px;
  height: 54px;
  padding: 0 1rem;
  border: 1px solid $c-grey--darkest;
  border-radius: 5px;
  &:focus,
  &:hover {
    border: 1px solid $c-grey--darkest;
  }
  &.form-submit {
    cursor: pointer;
    color: $c-white;
    background: $c-grey--darkest;
    &:focus,
    &:hover {
      border: 1px solid $c-grey--darkest;
      background: $c-black;
    }
  }
}

.view-filters .views-exposed-form .form--inline {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 220px;
  margin: auto;
  @include breakpoint($bp--large) {
    max-width: none;
  }
}
