/* 
 * Set the body style
 */

body {
	background: #E3E3BD;
}

/*
 * Set the default plane style
 */
.plane {
	/*background-image: url('images/plane.png');
	background-repeat: no-repeat;*/
	width: 120px;
	height: 100px;
	margin-left: 10px;
}



/*
 * Set the default avatar style
 */
.avatar {
	color: white;
	width: 150px;
	height: 1000px;
	margin-left: -40px;
}

@media only screen and (min-width: 951px) {
.plane img {
	max-width: 100%;
}

.avatar{
	display: none;
	
	}
}

@media only screen and (max-width: 950px) {

.plane img {
	max-width: 90%;
}

.avatar{
	background-image: url('images/main-soldier-no-parachute.png');
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position: 0px 40px;
	 
	}
}

@media only screen and (max-width: 900px) {

.plane img {
	max-width: 80%;
}

.avatar{
	background-image: url('images/main-soldier-no-parachute.png');
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position: 0px 80px;
	 
	}
}
@media only screen and (max-width: 850px) {

.plane img {
	max-width: 70%;
}

.avatar{
	background-image: url('images/main-soldier-no-parachute.png');
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position: 0px 120px;
	 
	}
}
@media only screen and (max-width: 800px) {

.plane img {
	max-width: 60%;
}

.avatar{
	background-image: url('images/main-soldier-with-parachute.png');
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position: 0px 160px;
	 
	}
}
@media only screen and (max-width: 750px) {

.plane img {
	max-width: 50%;
}

.avatar{
	background-image: url('images/main-soldier-with-parachute.png');
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position: 0px 200px;
	 
	}
}
@media only screen and (max-width: 700px) {

.plane img {
	max-width: 40%;
}

.avatar{
	background-image: url('images/main-soldier-with-parachute.png');
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position: 0px 240px;
	 
	}
}
@media only screen and (max-width: 650px) {

.plane img {
	max-width: 30%;
}

.avatar{
	background-image: url('images/main-soldier-with-parachute.png');
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position: 0px 280px;
	 
	}
}
@media only screen and (max-width: 600px) {

.plane img {
	max-width: 20%;
}

.avatar{
	background-image: url('images/main-soldier-with-parachute.png');
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position: 0px 320px;
	 
	}
}
@media only screen and (max-width: 550px) {

.plane img {
	max-width: 10%;
}

.avatar{
	background-image: url('images/main-soldier-with-parachute.png');
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position: 0px 360px;
	 
	}
}
@media only screen and (max-width: 500px) {

.plane img {
	max-width: 10%;
	position: relative;
	left: -10px;
}


.avatar{
	background-image: url('images/main-soldier-with-parachute.png');
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position: 0px 400px;
	 
	}
}
@media only screen and (max-width: 450px) {

.plane img {
	max-width: 10%;
	position: relative;
	left: -20px;
}
.avatar{
	background-image: url('images/main-soldier-with-parachute.png');
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position: 0px 440px;
	 
	}
}
@media only screen and (max-width: 400px) {

.plane img {
	max-width: 10%;
	position: relative;
	left: -30px;
}
.avatar{
	background-image: url('images/main-soldier-with-parachute.png');
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position: 0px 480px;
	 
	}
}
@media only screen and (max-width: 350px) {

.avatar{
	background-image: url('images/main-soldier-with-parachute.png');
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position: 0px 520px;
	 
	}
}
@media only screen and (max-width: 300px) {

.avatar{
	background-image: url('images/main-soldier-banner.png');
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position: 0px 540px;
	 
	}
}