
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}

  <!-- See _00-head.twig for Drupal & jQuery scripts -->

  <!-- This makes attach_library work wherever it is in the document flow. -->
  <script src="../../js/reload-scripts.js"></script>

  </body>
</html>
