.image-with-text {
  @include breakpoint($bp--xlarge) {
    align-items: end;
    align-items: flex-end;
    display: flex;
    margin-bottom: $base-line-height * 5;
    padding-top: $base-line-height * 2;
    &.left {
      flex-direction: row;
    }
    &.right {
      flex-direction: row-reverse;
    }
  }
}

.building-block .image-with-text__bg {
  margin-bottom: $base-line-height * 2;
}

.building-block + .building-block .image-with-text__bg  {
  margin-top: $base-line-height * 2;
  @include breakpoint($bp--medium) {
    margin-top: $base-line-height * 3;
  }
  @include breakpoint($bp--xlarge) {
    margin-top: $base-line-height * 2;
  }
}

.image-with-text__image {
  flex: 1 0 50%;
  text-align: center;
  @include breakpoint($bp--xlarge) {
    margin-bottom: -2rem;
    text-align: none;
  }
}

.image-with-text__image img {
  @include breakpoint($bp--medium) {
    margin-top: -1.5rem;
  }
}

.image-with-text__text {
  flex: 1 0 50%;
  margin-top: $base-line-height * 1.5;
  text-align: center;
  @include breakpoint($bp--medium) {
    padding-left: 16%;
    padding-right: 16%;
  }
  @include breakpoint($bp--xlarge) {
    margin-bottom: $base-line-height * 4;
    margin-top: 0;
    padding-left: 8%;
    padding-right: 8%;
    text-align: left;
  }
}

.image-with-text .field--name-field-p-it-cta {
  padding-bottom: $base-line-height * 2;
  @include breakpoint($bp--xlarge) {
    padding-bottom: 0;
  }
}

.image-with-text .field--name-field-p-it-cta a {
  background: $c-grey--darkest;
  color: $c-white;
  display: inline-block;
  padding: .5rem 1.5rem;
  text-decoration: none;
  &:focus,
  &:hover {
    background: $c-tertiary;
    color: $c-black;
  }
}

// Overrides, depending on background style chosen.
.image-with-text__bg--light {
  background: $c-white;
}

.image-with-text__bg--dark {
  background: $c-grey--darkest;
  color: $c-white;
}

.image-with-text__bg--dark {
  .image-with-text h1,
  .image-with-text h2,
  .image-with-text h3,
  .image-with-text h4,
  .image-with-text h5,
  .image-with-text h6 {
    color: $c-primary;
  }
}

.image-with-text__bg--dark .field--name-field-p-it-cta a {
  background: $c-primary;
  color: $c-white;
}
