.file-upload {
  padding-top: $base-line-height * 2;
  padding-bottom: $base-line-height * 2;
}

.file-upload-file__type {
  flex-shrink: 0;
  width: 4rem;
  margin-right: 1rem;
  margin-left: auto;
  text-align: right;
  text-transform: uppercase;
  color: $c-tertiary;
  font-size: 10px;
  font-weight: $fw--bold;
}

.file-upload-file {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  transition: 0.2s;
  text-decoration: none;
  color: $c-grey--darker;
  background-color: $c-white;

  &--audio &__type {
    color: $c-primary;
  }

  &--flash &__type {
    color: $c-secondary;
  }

  &--pdf &__type {
    color: $c-tertiary;
  }

  &:focus,
  &:hover {
    text-decoration: underline;
    color: $c-white;
    background-color: $c-tertiary;

    .file-upload-file__type {
      color: $c-white;
    }
  }
}

.file-upload-file + .file-upload-file {
  margin-top: $base-line-height;
}

.file-upload-file__download-icon {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 100%;
  height: 4rem;
  background-color: $c-tertiary;

  svg {
    width: 1.5rem;
    height: 1.5rem;

    path {
      fill: $c-white;
    }
  }
}

// Modifiers - for different file types
// The above is for default file types, below is specific to
// - Audio
// - Flash (God help us!)
// - PDF
.file-upload-file--audio {
  &:focus,
  &:hover {
    background-color: $c-primary;
  }

  .file-upload-file__download-icon {
    background-color: $c-primary;
  }
}

.file-upload-file--flash {
  &:focus,
  &:hover {
    background-color: $c-secondary;
  }

  .file-upload-file__download-icon {
    background-color: $c-secondary;
  }
}

.file-upload-file--pdf {
  &:focus,
  &:hover {
    background-color: $c-tertiary;
  }

  .file-upload-file__download-icon {
    background-color: $c-tertiary;
  }
}
