@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700");
$fw--light: 300;
$fw--regular: 400;
$fw--medium: 500;
$fw--semi-bold: 600;
$fw--bold: 700;
$fw--heavy: 800;

// Font Families
$ff--regular: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;
$ff--alternate: $ff--regular;

// Font Sizes
$fs--default: 16px;

// Heading Sizes
// We use a fluid-font mixin for headings, so their sizes will expand from
// $fs--h*-small to $fs--h*-large depending on screen width.
$fs--h1-small: 36px;
$fs--h1-large: 54px;
$fs--h2-small: 24px;
$fs--h2-large: 36px;
$fs--h3-small: 20px;
$fs--h3-large: 24px;
$fs--h4-small: 1rem;
$fs--h4-large: 1rem;
$fs--h5-small: 1rem;
$fs--h5-large: 1rem;
$fs--h6-small: 1rem;
$fs--h6-large: 1rem;
