input.btn-small.button-automator-ai {
  background-image: url("../../../icons/ai_spark.svg");
  background-repeat: no-repeat;
  background-position: 8px;
  background-size: 16px;
  padding-left: 32px;
}
