{%
set classes = [
  "credits",
  "clearfix"
]
%}

<section{{ attributes.addClass(classes) }}>
  <div class="layout-contained">
    <div class="credits__inner padding-horizontal">
      <p><a href="https://www.annertech.com">Web Design and Development by <strong>Annertech</strong></a></p>
    </div>
  </div>
</section>

{% block content_variable %}
  {#
    This allows the cache_context to bubble up for us, without having to
    individually list every field in
    {{ content|without('field_name', 'field_other_field', 'field_etc') }}
  #}
  {% set catch_cache = content|render %}
{% endblock %}
