/**
 * @file
 * This is the styling for .bgcol classes.
 */

.bgcolb {
 background-color: $black;
}

.bgcolw {
  background-color: $white;
}

.bgcol1 {
  background-color: $col1;
}

.bgcol2 {
  background-color: $col2;
}

.bgcol3 {
  background-color: $col3;
}

.bgcol4 {
  background-color: $col4;
}

.bgcol5 {
  background-color: $col5;
}
