/**
 * @file
 * This is the styling for .fc- classes.
 */

.fc-w {
  color: $white;
}

.fc-b {
  color: $black;
}

.fc-1 {
  color: $col1;
}

.fc-2 {
  color: $col2;
}

.fc-3 {
  color: $col3;
}

.fc-4 {
  color: $col4;
}

.fc-5 {
  color: $col5;
}
