/**
* Heading attributes
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend .fw-light;
}

h1 {
  font-size: $h1-font-size;
  line-height: 1;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
  line-height: 2.5;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}
