<div class="layout-contained padding-horizontal">
  <h2>Primary Colours</h2>
  <ul class="sg-colors">
    <li>
      <div style="background-color: var(--color-primary)" class="sg-colors__sample sg-swatch"></div>
      <div class="sg-info"><span>Primary</span></div>
    </li>
    <li>
      <div style="background-color: var(--color-primary--light)" class="sg-colors__sample sg-swatch"></div>
      <div class="sg-info"><span>Primary Light</span></div>
    </li>
    <li>
      <div style="background-color: var(--color-primary--dark)" class="sg-colors__sample sg-swatch"></div>
      <div class="sg-info"><span>Primary Dark</span></div>
    </li>
  </ul>

  <h2>Secondary Colours</h2>
  <ul class="sg-colors">
    <li>
      <div style="background-color: var(--color-secondary)" class="sg-colors__sample sg-swatch"></div>
      <div class="sg-info"><span>Secondary</span></div>
    </li>
    <li>
      <div style="background-color: var(--color-secondary--light)" class="sg-colors__sample sg-swatch"></div>
      <div class="sg-info"><span>Secondary Light</span></div>
    </li>
    <li>
      <div style="background-color: var(--color-secondary--dark)" class="sg-colors__sample sg-swatch"></div>
      <div class="sg-info"><span>Secondary Dark</span></div>
    </li>
  </ul>

  <h2>Grey Colours</h2>
  <ul class="sg-colors">
    <li>
      <div style="background-color: var(--color-grey)" class="sg-colors__sample sg-swatch"></div>
      <div class="sg-info"><span>Grey</span></div>
    </li>
    <li>
      <div style="background-color: var(--color-grey--light)" class="sg-colors__sample sg-swatch"></div>
      <div class="sg-info"><span>Grey Light</span></div>
    </li>
    <li>
      <div style="background-color: var(--color-grey--dark)" class="sg-colors__sample sg-swatch"></div>
      <div class="sg-info"><span>Grey Dark</span></div>
    </li>
  </ul>

  <h2>Black and White</h2>
  <ul class="sg-colors">
    <li>
      <div style="background-color: var(--color-white)" class="sg-colors__sample sg-swatch"></div>
      <div class="sg-info"><span>White</span></div>
    </li>
    <li>
      <div style="background-color: var(--color-black)" class="sg-colors__sample sg-swatch"></div>
      <div class="sg-info"><span>Black</span></div>
    </li>
  </ul>

</div>