.section-break hr {
  width: 75px;
  height: 5px;
  margin-right: auto;
  margin-left: auto;
  border: 0;
  border-radius: 3px;
  background: $c-primary;
}

.section-break.primary hr {
  background: $c-primary;
}

.section-break.secondary hr {
  background: $c-secondary;
}

.section-break.tertiary hr {
  background: $c-tertiary;
}
