.js-navigation {
  // This is the main limit on html strcuture: .menu MUST come AFTER the
  // controlling button.
  [aria-expanded="false"] {
    & ~ .menu {
      display: none;
    }

    .sub-menu-item-toggle__icon--open {
      display: block;
    }

    .sub-menu-item-toggle__icon--close {
      display: none;
    }
  }

  [aria-expanded="true"] {
    & ~ .menu {
      display: block;
    }

    .sub-menu-item-toggle__icon--open {
      display: none;
    }

    .sub-menu-item-toggle__icon--close {
      display: block;
    }
  }

  .sub-menu-item-toggle > * {
    pointer-events: none;
  }
}
