blockquote {
  padding: 1rem;
  color: var(--color-black);
  border-left: solid 5px var(--color-secondary);
  background-color: var(--color-grey--light)er;
  font-size: 2rem;
  font-weight: $fw--light;
  font-style: italic;
}
