.full__title {
  margin-top: $base-line-height * 2;
  margin-bottom: $base-line-height * 2;
}

.full__intro {
  margin-bottom: $base-line-height * 2;
  color: var(--color-primary);
  font-weight: $fw--bold;
}

.full__body {
  margin-bottom: $base-line-height * 2;
}

.full__tags .field__items {
  display: flex;
  flex-wrap: wrap;
  > * {
    margin-right: 1rem;
  }
  a {
    color: var(--color-primary);
  }
}

.full__follow-me-inner {
  margin-bottom: $base-line-height * 2;
  padding: 1rem;
  border: 3px solid var(--color-primary);
}
