.add-to-calendar__trigger {
  display: flex;
  align-items: center;
  padding: 0.25rem 1.25rem;
  cursor: pointer;
  transition: 0.4s;
  color: $c-white;
  border: 2px solid $c-white;
  border-radius: 2rem;
  background-color: $c-primary;
  font-family: $ff--alternate;
  font-size: 1rem;
  &:focus,
  &:hover {
    color: $c-white;
    border-color: $c-secondary;
    background-color: $c-secondary;
    svg {
      fill: $c-white;
    }
    svg path {
      fill: $c-white;
    }
  }
}

.add-to-calendar__trigger-icon {
  flex-basis: 1rem;
  margin-right: 0.75rem;
  line-height: 0;
}

.add-to-calendar__items {
  display: none;
  padding: 1rem;
}

.add-to-calendar__item {
  display: flex;
  align-items: center;
  margin-right: -3px;
  margin-bottom: 1rem;
  margin-left: -3px;
  line-height: 1;
   > * {
    margin-right: 3px;
    margin-left: 3px;
  }
}

.add-to-calendar svg {
  position: relative;
  top: -1px; // to position it with the bottom of non-hanging characters (o, a, u, h, x, etc.)
  width: 21px;
  height: 21px;

  fill: $c-secondary;
  path {
    fill: $c-secondary;
  }
}

.add-to-calendar a {
  text-decoration: none;
  color: $c-secondary;
  &:focus,
  &:hover {
    text-decoration: underline;
  }
}
