.header {
  background-color: var(--color-primary);
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__branding {
  @include breakpoint($bp--xlarge);

  svg {
    height: 85px;
  }
}

.header__content {
  @include breakpoint($bp--xlarge);

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  > * {
    margin-left: auto;
  }
}

.header__search {
  display: none;
  margin-top: $base-line-height;

  @include breakpoint($bp--xlarge) {
    display: block;
    margin-top: 0;
  }
}

.header__menu-toggle {
  order: 1;
  margin-top: auto;
  margin-bottom: auto;

  > * {
    float: right;
  }

  @include breakpoint($bp--xlarge) {
    display: none;
  }
}

.header__menu {
  display: none;
  margin-top: auto;
  margin-bottom: auto;

  @include breakpoint($bp--xlarge) {
    display: block;
  }
}

.header__off-canvas {
  position: absolute;
  top: 0;
  transition: $trans;
}

.header__off-canvas--is-off-canvas {
  width: 0;
  height: 0;
  transform: translateX(-150px);

  > * {
    display: none;
  }
}

.header__off-canvas--is-on-canvas {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--color-white);

  > * {
    display: block;
  }
}

.header__off-canvas-menu-toggle {
  margin: 1rem 1rem 1rem auto;
}
