.timeline-item {
  display: flex;
  justify-content: space-between;
}

.timeline-item__content {
  .timeline-item:nth-of-type(2n + 2) & {
    flex-direction: row-reverse;
  }

  @include breakpoint($bp--medium) {
    display: flex;
    justify-content: space-between;
    width: calc(50% - 2rem);
    width: 100%;
  }
}

.timeline-item__image {
  padding-bottom: $base-line-height;
  line-height: 1;

  img {
    width: 100%;
  }

  @include breakpoint($bp--medium) {
    flex-grow: 0;
    flex-shrink: 0;
    width: calc(50% - 2rem);
  }
}

.timeline-item__texts {
  padding-bottom: $base-line-height;

  p:last-of-type {
    margin-bottom: 0;
  }

  @include breakpoint($bp--medium) {
    width: calc(50% - 2rem);
  }
}

.timeline-item__bar {
  display: flex;
  padding-bottom: $base-line-height;
  border-left: 2px dashed var(--color-secondary);
}

.timeline-item__bar--small-screens {
  @include breakpoint($bp--medium) {
    display: none;
  }
}

.timeline-item__bar--large-screens {
  display: none;

  @include breakpoint($bp--medium) {
    display: flex;
    margin-right: calc(0.5rem - 2px);
    margin-right: 2px; // Same width as border
    margin-left: 1rem;
  }
}

.timeline-item__bar::before {
  position: relative;
  top: 75px;
  left: calc(-0.5rem - 1px); // 1px to make up for half of the 2px border
  width: 1rem;
  height: 1rem;
  content: "";
  border-radius: 1rem;
  background-color: var(--color-secondary);
}

// Need this at the end, so we don't have the bar on the last item overflowing.
.timeline-item:last-of-type {
  .timeline-item__bar,
  .timeline-item__texts,
  .timeline-item__content {
    padding-bottom: 0;
  }

  @include breakpoint($bp--medium) {
    .timeline-item__image {
      padding-bottom: 0;
    }
  }
}
