$c-primary: #e61313; // Red
$c-primary--light: lighten($c-primary, 15%); // Light Red
$c-primary--dark: darken($c-primary, 15%); // Dark Red

$c-secondary: #002a2a; // Blue
$c-secondary--light: lighten($c-secondary, 15%); // Light Blue
$c-secondary--dark: darken($c-secondary, 15%); // Dark Blue

$c-tertiary: #9acd32; // Green
$c-tertiary--light: lighten($c-tertiary, 15%); // Light Green
$c-tertiary--dark: darken($c-tertiary, 15%); // Dark Green

$c-white: white; // White
$c-grey--lightest: #fafafa; // Lightest Grey
$c-grey--lighter: #eaeaea; // Lighter Grey
$c-grey--light: hsl(0, 0%, 60%); // Light Grey
$c-grey: hsl(0, 0%, 48%); // Grey
$c-grey--dark: hsl(0, 0%, 40%); // Dark Grey
$c-grey--darker: hsl(0, 0%, 20%); // Darker Grey
$c-grey--darkest: hsl(0, 0%, 16.1%); // Darkest Grey
$c-black: black; // Black

$theme-colours: (primary, $c-primary),
(primary--light, $c-primary--light),
(primary--dark, $c-primary--dark),
(secondary, $c-secondary),
(secondary--light, $c-secondary--light),
(secondary--dark, $c-secondary--dark),
(tertiary, $c-tertiary),
(tertiary--light, $c-tertiary--light),
(tertiary--dark, $c-tertiary--dark),
(white, $c-white),
(grey, $c-grey),
(grey--lightest, $c-grey--lightest),
(grey--lighter, $c-grey--lighter),
(grey--light, $c-grey--light),
(grey--dark, $c-grey--dark),
(grey--darker, $c-grey--darker),
(grey--darkest, $c-grey--darkest),
(black, $c-black);

@each $theme-colour, $colour in $theme-colours {
  .bg-#{$theme-colour} {
    background: $colour;
  }
}

.bg-primary,
.bg-secondary {
  color: $c-white;
}

.bg-primary.bulky,
.bg-secondary.bulky,
.bg-tertiary.bulky {
  margin-bottom: $base-line-height;
  padding: 1rem;
}
