.block-search form {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.block-search .form-search {
  max-width: 150px;

  @include breakpoint($bp--small) {
    max-width: none;
  }

  @supports (-webkit-appearance: none) or (appearance: none) or
    ((-moz-appearance: none) and (mask-type: alpha)) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}
