table {
  width: 100%;
  color: var(--color-black);
  border: 1px solid var(--color-black);
  border-collapse: collapse;
}

table thead {
  background-color: var(--color-grey--light);
}

table th,
table td {
  padding: 0.5rem;
  border: 1px solid var(--color-black);
}

table tbody > tr:nth-child(2n+2) {
  background-color: var(--color-grey--light)er;
}
