table {
  width: 100%;
  color: $c-black;
  border: 1px solid $c-black;
  border-collapse: collapse;
}

table thead {
  background-color: $c-grey--light;
}

table th,
table td {
  padding: 0.5rem;
  border: 1px solid $c-black;
}

table tbody > tr:nth-child(2n+2) {
  background-color: $c-grey--lighter;
}
