/*
 * Begin styling for Articles Page views
 */

 // Articles Main Wrapper

 .views-articles-main-page-wrapper {

 }

 // Articles Main Titles
  .views-articles-main-page-title {
  	a {
 		color: $grey_dark;

 		&:focus,
 		&:hover {
 			color: $grey_dark;
 		}
 	}
 }
 // Articles Main Body
  .views-articles-main-page-body {
 	color: $white;
 }

 // Articles Main Read More Link
  .views-articles-main-page-link {

 }