/*
 * Begin styling for Articles Page views
 */

 // Articles Main Wrapper

 .views-articles-main-page-wrapper {
 	border-left: .2em solid $orange;
 	margin-bottom: 3em;
 	padding: 0 0 1.4em 1em;
 }

 // Articles Main Titles
  .views-articles-main-page-title {

  	a {
 		color: $orange;

 		&:focus,
 		&:hover {
 			color: $grey_dark;
 		}
 	}
 }
 // Articles Main Body
  .views-articles-main-page-body {

 }

 // Articles Main Read More Link
  .views-articles-main-page-link {
  	a {
  		background: $orange;
  		color: $white;
  		padding: 1em;
  		width: 120px;
  		text-align: center;
  		@include border-radius(.7em);
  		

  		&:focus,
  		&:hover {
  			background: $grey_dark;
  		}
  	}
 }

/*
 * Begin styling for Twitter Block on the Home Page view
 */

// The Twitter list item
 div.view-tweets li {
    list-style: none;
   	margin-left: -.8em;
}

// Each row in the Tweets list
div.view-tweets .views-row {
    min-height: 5em;
}

// The Twitter profile image
 .views-field-profile-image-url {
    float: left;
    margin: .4em .4em .4em 0;
}

