*,
*::before,
*::after {
  box-sizing: border-box;
  transition: var(--transition-time);
}

*:not(dialog) {
  margin-block-start: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: var(--base-font-size);
  line-height: var(--line-height);
  font-family: var(--font-primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  --scale-factor-calculated: var(--scale-factor);
  line-height: var(--line-height-small);
  font-size: calc(var(--base-font-size) * var(--scale-factor-calculated));
  font-weight: bold;
  font-family: var(--font-secondary);
}

h1 {
  --scale-factor-calculated: calc(
    var(--scale-factor) * var(--scale-factor) * var(--scale-factor)
  );
}

h2 {
  --scale-factor-calculated: calc(var(--scale-factor) * var(--scale-factor));
}

h3 {
  --scale-factor-calculated: var(--scale-factor);
}

h4,
h5,
h6 {
  --scale-factor-calculated: 1;
}

.field--name-body > * + :where(h2, h3, h4, h5, h6) {
  margin-block: var(--spacing-largest) var(--spacing-medium);
}

img {
  max-width: 100%;
  height: auto;
}

.align-center img {
  display: block;
  margin-inline: auto;
}

p {
  max-width: 80ch;
}

p:last-of-type {
  margin-block-end: 0;
}

body:not(.path-frontpage) .dialog-off-canvas-main-canvas > * {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.dialog-off-canvas-main-canvas a {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: var(--text-decoration-thickness);
  color: var(--color-secondary);
}

a:focus-visible {
  outline: 2px dashed var(--color-secondary);
  outline-offset: 2px;
}

a:hover {
  text-underline-offset: 2px;
}

.messages__wrapper {
  margin-block-end: var(--spacing-largest);
}

blockquote {
  border-left: 4px solid var(--color-secondary);
  padding-block: var(--spacing);
  padding-inline-start: var(--spacing-largest);
  margin-block-start: var(--spacing-largest);
  margin-block-end: var(--spacing-largest);
  font-style: italic;
}

blockquote > * + * {
  margin-block-start: var(--spacing-small);
}