{%
set classes = [
  "call-to-action",
  paragraph.field_p_cta_style.value,
]
%}

<div{{ attributes.addClass(classes) }}>

  {{ content.field_p_cta_title }}
  {{ content.field_p_cta_link }}

</div>

{% block content_variable %}
  {#
    This allows the cache_context to bubble up for us, without having to
    individually list every field in
    {{ content|without('field_name', 'field_other_field', 'field_etc') }}
  #}
  {% set catch_cache = content|render %}
{% endblock %}
