// Theming the Tiled Layout container
.tiled-layout {
  @include flex-default;

  justify-content: center;
}

// Theming individual tiles
.tile {
  width: 100%;
  margin-bottom: $base-line-height;
  padding: $base-line-height;
  border-top: 0.5rem solid var(--color-secondary);
  background-color: var(--color-grey--light)er;
}

a.tile {
  text-decoration: none;

  &:focus,
  &:hover {
    background-color: var(--color-secondary);
    background-image: linear-gradient(var(--color-secondary), var(--color-primary--dark));
  }
}

.tile--has-image {
  padding: 0;
  padding-bottom: $base-line-height;
  background-color: var(--color-white);
}

.tile--small {
  @include breakpoint($bp--medium) {
    width: calc(33% - 2rem);
  }
}

.tile--medium {
  @include breakpoint($bp--medium) {
    width: calc(50% - 2rem);
  }
}

.tile--large {
  @include breakpoint($bp--medium) {
    width: calc(66% - 2rem);
  }
}

.tile--full {
  @include breakpoint($bp--medium) {
    width: calc(100% - 2rem);
  }
}

.tile--primary {
  border-top-color: var(--color-secondary);
}

.tile--secondary {
  border-top-color: var(--color-secondary);
}

.tile--tertiary {
  border-top-color: var(--color-primary);
}

.tile__text {
  color: var(--color-grey--dark);

  p:last-of-type {
    margin-bottom: 0;
  }
}

a.tile--primary {
  &:focus,
  &:hover {
    background-color: var(--color-secondary);
    background-image: linear-gradient(var(--color-secondary), var(--color-primary--dark));
  }
}

a.tile--secondary {
  &:focus,
  &:hover {
    background-color: var(--color-secondary);
    background-image: linear-gradient(var(--color-secondary), var(--color-secondary--dark));

    .tile__text {
      color: var(--color-white);
    }
  }
}

.tile__title {
  color: var(--color-grey--dark);
  font-family: $ff--alternate;
}

a.tile--tertiary {
  &:focus,
  &:hover {
    background-color: var(--color-primary);
    background-image: linear-gradient(var(--color-primary), var(--color-primary--dark));

    .tile__title,
    .tile__text {
      color: var(--color-white);
    }
  }
}

.tile__image {
  margin-bottom: $base-line-height;
}

.tile__image img {
  width: 100%;
  height: auto;
}
